body {
  height: 100%;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #2E2D31;
}

#navbar {
  display: flex;
  align-content: space-between;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
}

#navbar i {
  font-size: 30px;
  color: white;
  align-content: space-between;
  margin-left: auto;
}

h1 {
  text-align: center;
  color: white;
  font-weight: lighter;
  letter-spacing: 3px;
  font-kerning: auto;
}

hr {
  width: 90%;
  height: 2px;
  background-image: linear-gradient(260deg, #FF4700, #5200E8, #00FFDE);
  border: none;
}

.content {
  display: flex;
  flex-direction: column;
  overflow: auto;
  color: #1c1c1c;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}


.card input {
  flex: 1;
  height: 30px;
  border: 2px solid white;
  margin-left: 3%;
  margin-right: 3%;
}

.size-card button{
  background-color: transparent;
  height: 80px;
  flex: 1;
  border: none;
  cursor: pointer;
  color: white;
}

.categories i {
  font-size: 30px;
  flex: 1;
  color: white;
}

#image-button {
  margin-left: auto;
  margin-right: 10%;
  font-size: 50px;
  background-color: transparent;
  border: none;
  color: white;
}

#post-button {
  flex: 1;
  width: 50px;
  height: 60px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 40px;
  margin-top: 10px;
  margin-right: 3%;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#post-button:hover {
  background-color: white;
  color: #2E2D31;
}

#tags {
  height: 100px;
  margin-left: 10%;
}


.fas {
  cursor: pointer;;
}

input {
  background-color: transparent;
  color: white;
  font-size: 15px;
  font-weight: lighter;
  padding-left: 10px;
}

.container {
  overflow: hidden;
  min-width: 300px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}


#trash-button {
  margin-top: 10px;
  color: white;
  font-size: 50px;
  margin-right: 5%;
  margin-left: 3%;
}

#couch-button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#couch-button:hover {
  color: #ff4700;
}

#car-button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#car-button:hover {
  color: #80334f;
}

#sports-button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#sports-button:hover {
  color: #5200e8;
}

#tv-button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#tv-button:hover {
  color: #467290;
}

#random-button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#random-button:hover {
  color: #00ffde;
}
