
*
{
  margin: 0;
  padding: 0;
}

.body-flex
{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title-cancel-button-container
{
  margin: 2% 0 5% 0;
}

.title-cancel-group
{
  display: flex;
  justify-content: space-between;
}

.tags-icons-listings-container
{
  margin: 2%;
}

.tags-icons-item
{
  border: 3px solid black;
  padding: 2% 5% 2% 5%;
  border-radius: 50%;
}

.icons-listings
{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.tags-size-option
{
  border: 3px solid black;
  padding: 2% 5% 2% 5%;
  border-radius: 50%;
}

.forms-centered
{
  margin-left: 25%;
}

.buttons-grouping
{
  display: flex;
  justify-content: space-evenly;
}

.buttons-grouping button
{
  border: 3px solid black;
  padding: 2% 5% 2% 5%;
}
