/* Colors
  Medium Turquoise: #66d7d1;
  Verdigris: #57bab5;
*/

.hamburger-menu-modal {
  background-image: linear-gradient(to bottom right, #66d7d1, #57bab5);
  border-color: white;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 4px 4px 10px black;
  height: 11em;
  padding: 8px 8px;
  width: 14em;
}

.search-bar {
  border-color: white;
  border-style: solid;
  border-width: 0px 0px 1.5px 0px;
  padding-bottom: 8px;
}
