*
{
  margin:0;
  padding: 0;
}

body
{
  color: white;
  background-color: #2E2D31;
  font-family: 'Nunito', sans-serif;
}

hr
{
  width: 90%;
  height: 2px;
  background-image: linear-gradient(260deg, #FF4700, #5200E8, #00FFDE);;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  margin-top: 20px;
  letter-spacing: 5px;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}



.items-listing-container
{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.item-list-grouping
{
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 98%;
}

.item-list-details
{
  margin: 3% 0 3% 0;
  width: 80%;
  border: 2px solid white;
}



.item-title-location-container
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 38%;
}




.location-span{

  font-size: .7em;

}



li.item-picture
{
  padding: 0px;
  width: 100px;
  height: 98%;
}

li hr{
  width: 100%;
  flex-shrink: 4;
}

.item-picture
{
  height: 100px;
  overflow: hidden;
}



.item-edit-button
{
  font-size: 30px;
  margin-right: 0px;
  padding-right: 0px;
}
