body {
  height: 100%;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #2E2D31;
}

#navbar {
  display: flex;
  align-content: space-between;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
}

#navbar i {
  font-size: 30px;
  color: white;
  align-content: space-between;
  margin-left: auto;
}

h1 {
  text-align: center;
  color: white;
  font-weight: lighter;
  letter-spacing: 3px;
  font-kerning: auto;
}

hr {
  width: 90%;
  height: 2px;
  background-image: linear-gradient(160deg, #5200E8 0%, #00FFDE   100%);
  border: none;
}

.content {
  display: flex;
  flex-direction: column;
  overflow: auto;
  color: #1c1c1c;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}


.card input {
  flex: 1;
  height: 30px;
  border: 2px solid white;
  color: white;
}

.size-card button{
  background-color: transparent;
  height: 80px;
  flex: 1;
  border: none;
  cursor: pointer;
  color: white;
}

.categories i {
  font-size: 30px;
  flex: 1;
  color: white;
}

#image-button {
  margin-left: 20px;
  margin-right: 10px;
  font-size: 50px;
  background-color: transparent;
  border: none;
  color: white;
}

#post-button {
  flex: 1;
  width: 60px;
  height: 60px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 40px;
  margin-top: 10px;;
}

#tags {
  height: 100px;
}


.fas {
  cursor: pointer;;
}

input {
  background-color: transparent;
  color: white;
  font-size: 15px;
  font-weight: lighter;
  padding-left: 10px;
}

.container {
  min-width: 300px;
  max-width: 600px;
}
